.avatar {
    width: 50px; /* Set the size of the avatar */
    height: 50px;
    border-radius: 50%; /* Makes the div circular */
    background-color: #007bff; /* Avatar background color */
    color: white; /* Text color */
    display: flex;
    justify-content: center;
    align-items: center; /* Center the text inside the circle */
    font-size: 24px; /* Text size */
    font-weight: bold;
    cursor: pointer;
}

.post-container {
    width: 250px;
    height: 350px;
    background-color: white;
    
}